html {
  position: relative;
  min-height: 100%;
}
body {
	padding-top: 70px;
  /* Margin bottom by footer height */
   margin-bottom: 60px; 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000000;
}
.text-muted {
  margin: 20px 0;
  color: #ffffff;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
    margin: auto;
   }

img:hover {opacity: 0.7;}
